//Comment for compiler
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';

//variables
html { @include font; color:white;}
h1 {font:$h1}
h2 {font:$h2; font-weight: 500; line-height: 1.5; margin-top:0;}
h3 {font:$h3; line-height: 1.2; margin-top:5px;}
h4 {font:$h4}
p  {font:$p; opacity: 0.7;}
a { @include link;}

//primitives
body {
  @include flex(center, center, column);
  @include size(100vh , 100vw);
  padding: 20px 40px;
  color:white;
  overflow: hidden;
  background: #2c2d44;
}
aside{
  width: 180px;
  min-width: 180px;
  padding-right: 40px;
}
hr{
  background-color: rgba(255, 255, 255, 0.05);
  height: 1px;
  border: none;
  width: 100%;
}
input[type=text]{
  appearance: none;
  -webkit-appearance:none;
  border: none;
  border-radius: 4px;
  padding: 6px 8px;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  color:white;
  background-color: rgba(255,255,255,0.05);
  font: $p;
  @include transition(color);

  &:focus{
    color:$font-color-1;
    background-color: rgba(255,255,255, 1);
    &::placeholder{
      color: $border-color-1;
    }
  }
  &::placeholder{
    color: rgba(255,255,255,0.4);
  }
}
article{
  @include size(600px, 100%);
  @include flex(center, flex-start, column);
}

//buttons
.btns { margin-top:20px;}
.primary  {@include primary}
.secondary{
  @include secondary-alt
  color:white;
  border: 1px solid rgba(255,255,255,0.4);
  background-color: transparent;
  &:hover{
    color:white;
    background-color:rgba(0,0,0,0.08);
    border: 1px solid rgba(255,255,255,0.5);
    text-decoration-color: transparent;
  }
  &:active{
    background-color:rgba(0,0,0,0.16);
    text-decoration-color: transparent;
  }
}

//steps states
.inactive {
  opacity: 0.2;
  pointer-events: none;
  .badge{
    background-color: transparent;
    border:1px solid white;
    color:white;
  }
}
.completed{
  opacity: 0.2;
  text-decoration: line-through;
  .badge{
    background-color: transparent;
    border:1px solid white;
    color:white;
    text-decoration: none;
    text-decoration: initial;
  }
}

//badges
.badge{
  font:$p;
  @include size(20px, 20px);
  @include flex(center, center, row);
  display: inline-flex;
  margin-right: 15px;
  font-size: 12px;
  font-weight: 500;
  background-color:rgba(0,0,0,0.08);
  border-radius:4pc;
  border:1px solid white;
  transition:
    background-color 0.2s $animation,
    color            0.3s $animation,
    border-color     0.3s $animation;
}

//layout
.two-col  {@include flex(flex-start, space-between, row)}
.two-col-center  {@include flex(center, space-between, row)}
.fs{
  @include size(100vh, 100vw);
  position: absolute;
  z-index: -1;
}
.fw{ width: 100%;}

//other
.eula{
  height: 40vh;
  white-space: pre-line;
  overflow: scroll;
}

.agreed{
  opacity: 1;
}

// .hd{
//   border-radius:4px;
//   background-color: rgba(255,255,255, 0.04);
//   padding: 15px;
// }
.signature{
  display: flex;
  justify-content: between;
  padding-bottom: 20px;
  > *:not(:first-child){margin-left: 20px}
}

.new-content{
  @include flex(flex-start, center, column);
  max-width: 500px;
}


.file-select{
  padding: 8px 15px;
}

a:hover{
  text-decoration: none;
}

.link{ @include link;}

.upload-file {
	width: 100%;
	flex-shrink: 0;
	@include flex(center, space-between, row);

	.file-button {
		@include secondary;
		@include size(32px, auto);
		border-radius: 0 4px 4px 0;
		border-left: none;
		border-color: $border-color-1;
	}

	input#path2.path {
		margin: 0;
		display: flex;
		flex-grow: 1;
		border-radius: 4px 0 0 4px;
	}
}


.manual-box{
  background-color: rgba(0,0,0,0.2);
  padding:  8px 15px;
  width: 100%;
  font-size: 10px;
  border-radius: 4px;
  margin-top: 20px;
  p{
    font-size: 10px;
    span{opacity: 0.8;}
    text-transform: uppercase;
  }
}

details{
  margin-bottom: 20px;
}
//particle animation
#particles-background,
#particles-foreground {
  left: -51%;
  top: -51%;
  width: 202%;
  height: 202%;
  -webkit-transform: scale3d(0.5, 0.5, 1);
  -moz-transform: scale3d(0.5, 0.5, 1);
  -ms-transform: scale3d(0.5, 0.5, 1);
  -o-transform: scale3d(0.5, 0.5, 1);
  transform: scale3d(0.5, 0.5, 1);
  pointer-events: none;
}
#particles-background {
  background: #2c2d44;
  background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
  background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
  background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
  z-index: -1;
}
